---
import { Icon } from 'astro-icon'
---

<div class="relative ml-3" x-data="{ themeOpen: false }">
  <div>
    <button
      type="button"
      class="dark:purple-700 inline-flex w-full justify-center rounded-md border border-purple-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-purple-100 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 focus:ring-offset-purple-300 dark:bg-gray-800 dark:text-gray-100 dark:focus:ring-offset-purple-700"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      x-on:click="themeOpen = !themeOpen">
      Light/Dark
      <Icon
        class="-mr-1 ml-2 h-5 w-5"
        aria-hidden="true"
        pack="heroicons-solid"
        name="chevron-down"
      />
    </button>
  </div>
</div>
